h3 Hello, #{@user.name} !
p Your login:    #{@user.username}
p Your password: #{@user.password}

p 
	' You can sign in 
	a href="#{ENV['application_url']}/users/sign_in/" here
	' .
p _______________________________

== ENV['company_name']
