= form_for(@ticket, as: :ticket, url: @ticket.id.nil? ? tickets_path  : ticket_path(@ticket.unique_token)) do |f|
  - if @ticket.errors.any?
    #error_explanation
      h2 = "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      ul
        - @ticket.errors.full_messages.each do |message|
          li = message
  - unless @ticket.id
    .field-grop
      = f.label :department_id
      = f.collection_select :department_id, departments, :id, :name, {prompt: true}, {class: 'form-control'}
  .field-grop
    = f.label :subject
    = f.text_field :subject, class: 'form-control'
  .field-grop
    = f.label :body
    = f.text_area :body, class: 'form-control'
  .field-grop
    = f.label 'Your name'
    = f.text_field :consumer_name, class: 'form-control'
  - unless @ticket.id
    .field-grop
      = f.label 'Your email'
      = f.text_field :consumer_email, class: 'form-control'
  .actions = f.submit "Send", class: 'btn btn-primary'
