= form_for @reply do |f|
  - if @reply.errors.any?
    #error_explanation
      h2 = "#{pluralize(@reply.errors.count, "error")} prohibited this reply from being saved:"
      ul
        - @reply.errors.full_messages.each do |message|
          li = message
  .form-group
    = f.label :reply
    = f.text_area :reply_body, class: 'form-control', required: true
  = f.hidden_field :author_id
  = f.hidden_field :ticket_id
  .actions
    = f.submit "Reply", class: 'btn btn-primary'
