= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      h2 = "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      ul
        - @ticket.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.label :department_id
    = f.collection_select :department_id, departments, :id, :name, {prompt: true}, {class: 'form-control'}
  .form-group
    = f.label :status_id
    = f.collection_select :status_id,     statuses,    :id, :name, {prompt: true}, {class: 'form-control'}
  - if current_user
    .field
      = f.label :assignee_id
      = f.collection_select :assignee_id, User.all.decorate, :id, :name, {prompt: 'unassigned'}, {class: 'form-control'}
  .actions = f.submit class: 'btn btn-warning'