

#wrapper
  /! Sidebar
  #sidebar-wrapper
    = search_form_for @q, id: "search_form" do |f|
      ul.sidebar-nav
        li.section Search
        li.nohover.search
          .form-group
            = f.search_field :subject_or_body_or_unique_token_cont, placeholder: "Search in Subject/Body", autofocus: true, onfocus: 'this.value = this.value', class: 'form-control', 'data-tip' => 'lolol'
        li.section
          | Owner    
          li
            = search_input 'check_box_tag', 'assignee_id', 'eq', current_user.id.to_s, @selected_assignee_ids, id: 'current_user_filter'
            = "Assigned to me"
          li
            = search_input 'check_box_tag', 'assignee_id', 'null', '1', @selected_assignee_ids,  id: 'no_assignee_filter'
            = "Unassigned"

        li.section
          | Departments
        - departments.each do |dep|      
          li
            = search_input 'check_box_tag', 'department_name', 'cont_any', dep.name, @selected_department_names
            = dep.name

        li.section
          | Statuses
        - statuses.each do |st|
          li
            = search_input 'check_box_tag', 'status_name', 'cont_any', st.name, @selected_status_names
            = st.name
        li.section
          = f.submit "Filter", class: 'btn btn-default'


  #page-content-wrapper
    .row
      .col-md-12
        h1 Listing tickets
    .row
      .col-md-12
        table.table
          thead
            tr
              th = sort_link(@q, :department_name, 'Department', default_order: :desc)
              th = sort_link(@q, :status, 'Status', default_order: :desc)
              th = sort_link(@q, :subject, 'Subject', default_order: :desc)
              th = sort_link(@q, :assignee_last_name, 'Assignee', default_order: :asc)
              th = sort_link(@q, :updated_at, 'Last update', default_order: :desc)
              th
              th
              th

          tbody
            - @tickets.each do |ticket|
              tr
                td = ticket.department.name
                td = ticket.status.name
                td = ticket.subject
                td = ticket.assignee ? ticket.assignee.username : "-"
                td = ticket.updated_at.to_formatted_s(:short)
                td = link_to 'Show', ticket
        br

        / = link_to 'New Ticket', new_ticket_path
