.row
  .col-md-12
    h4 
      | Ticket ##{current_user ? @ticket.id : @ticket.unique_token}, created: #{@ticket.created_at.to_formatted_s(:short)}
    - if @ticket.updated_by_consumer_at.to_i != @ticket.created_at.to_i && current_user
      button.btn.btn-danger.btn-xs#diffbutton
        | costumer update #{@ticket.updated_by_consumer_at.to_formatted_s(:short)} (click to show all versions)
  .col-md-8
    #tickets_container
      .panel.panel-info#ticket
        .panel-heading 
          strong.ticket_subject
            = @ticket.subject
        .panel-body.ticket_body
          = @ticket.body

        .panel-footer.consumer-info
          strong Sent by: 
          span.consumer_name
            = @ticket.consumer_name 
            |  &nbsp;&nbsp;
          i.fa.fa-envelope
          span.consumer_email
            = @ticket.consumer_email
            |  &nbsp;&nbsp;
          i.fa.fa-calendar
          span.ticket_created_at
            = @ticket.updated_by_consumer_at.to_formatted_s(:short)


    - unless current_user
      = link_to "Edit ticket", edit_ticket_path(@ticket.unique_token), {class: 'btn btn-warning'}

    - if @ticket.replies.any?
      h4 Replies
      - @ticket.replies.each do |r|
        .panel.panel-success
          .panel-heading
            i.fa.fa-time
            = r.created_at.to_formatted_s(:short)
            |  &nbsp;&nbsp;
            - if current_user
              i.fa.fa-user
              = r.author.username 
          .panel-body
            = r.reply_body
    - if current_user
      == render 'reply_form'

  .col-md-4
    - if current_user
      == render 'short_form'
      strong Last staff upd:
      span.updated_at
        - if @ticket.updated_by_staff_at
          = @ticket.updated_by_staff_at.to_formatted_s(:short)
        - else
          | Ticket were not updated by staff
    - else
      == render 'side_info'



- if current_user
  = link_to 'Back', tickets_path
