.panel.panel-info
  .panel-heading
    i.fa.fa-calendar
    = a.trackable.created_at.to_formatted_s(:short)
    | &nbsp;
  .panel-body
    | #
    = link_to ticket_path(a.trackable.id) 
      | #{a.trackable.unique_token}
    | &nbsp; was created