.panel.panel-warning
  .panel-heading
    i.fa.fa-calendar
    = a.trackable.created_at.to_formatted_s(:short)
    | &nbsp;
  .panel-body
    | #
    = link_to ticket_path(a.trackable.id) 
      | #{a.trackable.unique_token}
    | &nbsp; was updated &nbsp;
    - if a.owner_type == 'User'
      | by &nbsp;
      i.fa.fa-user
      = a.owner.username
    - else
      strong
        | by costumer