h3 Hello, #{@ticket.consumer_name} !
p Thank you for submitting your feedback to #{ENV['company_name']}

p 
    ' You can edit your message by
    a href="#{ENV['application_url']}/tickets/#{@ticket.unique_token}" this link
    '.
p _______________________________

== ENV['company_name']
