h3 Hello, #{@ticket.consumer_name} !
p = @reply.reply_body
p _______________________________

p 
    ' This is reply to
    a href="#{ENV['application_url']}/ticket/#{@ticket.unique_token}" your feedback
    '.
br
== ENV['company_name']
