doctype html
html
  head
    title = ENV['company_name']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    = nav_bar fixed: :top, brand: ENV['company_name']
      - if current_user
        = menu_group
          = menu_item "Activities", activities_path
          = menu_item "Tickets", tickets_path
        = menu_group pull: :right do
          = menu_item  "Log Out (#{current_user.username})", destroy_user_session_path, method: :delete

    == bootstrap_flash

    .container
      = yield
