doctype html
html
  head
    title = ENV['company_name']
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body style="padding: 0 !important;"
    == bootstrap_flash

    .container-fluid
      = yield
